header{
    background-color: #BBBBBB;
}

h1, nav{
    display: inline-block;
}

nav li{ 
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase;
    color: black;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    color: orange;
}
