main{
    width: 940px;
    margin: 0 auto;
}

form{
margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

form input, form textarea{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

form input[type="radio"], form input[type="checkbox"]{
    display: inline;
    width: 1.5em;
}

#checkbox{
    margin: 20px 0;
}

#boton-envio{
    width: 40%;
    padding: 15px;
    font-size: 18px;    
    font-weight: bold;
    color:white;
    background: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all;
}

#boton-envio:hover{
    transform: scale(1.01);

    background: white;
    color: orange;
    border: 2px solid orange;
}

table{
    margin: 40px;
}
