header {
    background-color: #BBBBBB;
    padding: 20px 0;
}

.contenedor {
    width: 940px;
    margin: 0 auto;
    position: relative;
}

h1,
nav {
    display: inline-block;
}

nav {
    position: absolute;
    top: 110px;
    right: 50px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: orange;
}

.productos {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 30%;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;

    border: 2px solid black;
    border-radius: 10px;
}

.productos li:hover {
    border-color: goldenrod;
}



.productos h2 {
    font-size: 30px;
    font-weight: bold;
}

.producto-descripcion {
    font-size: 18px;
}

.producto-precio {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
