body { font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #BBBBBB;
    padding: 20px 0;
}

.contenedor {
    width: 940px;
    margin: 0 auto;
    position: relative;
}

h1,
nav {
    display: inline-block;
}

nav {
    position: absolute;
    top: 110px;
    right: 50px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.productos {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 30%;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;

    border: 2px solid black;
    border-radius: 10px;
}

.productos li:hover {
    border-color: #C78C19;
}

.productos li:active {
    border-color: #088C19;
}

.productos h2 {
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2 {
    font-size: 33px;
}

.producto-descripcion {
    font-size: 18px;
}

.producto-precio {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

footer {
    padding: 40px;
    background: url(../imagenes/bg.jpg);
    text-align: center;
}

#copyright {
    color: white;
    font-size: 13px;
    margin: 20px;
}

/* CSS PARA PÁGINA INICIAL */
#banner {
    width: 100%;
}

#principal {
    background-color: whitesmoke;
}

#contenido-principal{
    width: 70%;
    padding: 3em 0;
    margin: 0 auto;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
}

#principal p {
    margin-bottom: 1em;
}

#principal strong {
    font-weight: bold;
}

#principal em {
    font-style: italic;
}

#utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 0 0;
}

#ubicacion{
    padding: 3em 0;
    background-image: linear-gradient(whitesmoke, #CCCCCC);
}

#ubicacion p{
    text-align: center;
    margin: 0 0 1.5em;
}

#mapa{
display: block;
width: 70%;
margin: 0 auto;
}

#diferenciales{
    background-color: #CCCCCC;
    padding: 3em;
}

#contenido-diferenciales{
    width: 640px;
    margin: 0 auto;

}

#contenido-diferenciales ul{
    width: 40%;
    display: inline-block;
    vertical-align: top;
    list-style: circle;
}

.items{
    line-height: 1.5;
}
.items:first-child{
    font-weight: bold;
}

#imagen-diferenciales {
    width: 60%;
}

#video{
    display: block;
    margin: 1em auto;
}

